*~
*_
addons
*~bak
*-bak
*.bak
bin
build.properties
.vagrant
.checkstyle
chromedriver.log
.classpath
*cpJar*
dependency-tree.log
.DS_Store
*.gpd.*
.idea
*.eml
*.iml
*.ipr
*.iws
*.log
.metadata
.cache-tests
.mylar
*.orig
.pmd
.project
*.pyc
.pydevproject
*.rej
*.retry
.settings
target
venv
nuxeo-webengine/nuxeo-webengine-gwt/war/
nashorn_code_cache/
ansible/roles/*-bso/
DavidWittman.redis/
geerlingguy.apache/
geerlingguy.nfs/
